
/* tester sur codepen */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}
.heart {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 200px;
    height: 325px;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
}
.heart div {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 325px;
    border: solid red;
    border-radius: 50% 50% 0 / 40% 50% 0;
    border-width: 1px 1px 0 0;
    box-shadow: 1px 00 rgba(255, 255, 255, 0.25);
}
@keyframes spin {
    to {
        transform: rotateY(360deg) rotateX(360deg);
    } 
}
@keyframes appear {
    to {
        opacity: 1;
    }
}